%html


%h1 The Learning Shelter

%p "The Learning Shelter is creating a template for skill building, education and community engagement."
%p "The Learning Shelter exposes possibilities, mentors, participants, teaches viable techinical skills and empowers marginalized populations to achieve personal sustainability and create opportunities for their communities."
